* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

*::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: white;
  margin: 1.4rem 0;
  font-weight: 700;
  line-height: 30px;
  font-size: 1.7rem;
}

p {
  color: #dad8d8;
  font-size: 1.1rem;
  max-width: 350px;
  margin: 0 auto;
  margin-bottom: 2rem;
  font-weight: 400;
  line-height: 24px;
}

li {
  list-style: none;
  margin: 0 0.7rem;
}
li a {
  color: white;
  font-size: 0.8rem;
  text-decoration: none;
  color: #dad8d8;
  font-weight: 400;
  transition: 0.4s ease;
}
li a:hover {
  color: white;
  cursor: pointer;
  border-bottom: 1px solid;
}

button {
  padding: 1rem 5rem;
  border-radius: 25px;
  border: none;
  outline: none;
  background-color: #339ecc;
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: 0.3s ease;
}
button:hover {
  background-color: #65e2d9;
}

body {
  background-color: #181f2a;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
  margin: 0 auto;
  margin: 2rem auto;
}
header .container .logo {
  width: 80px;
  cursor: pointer;
}
header .container .logo img {
  width: 100%;
}
header .container .nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-section .container {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.home-section .container .details {
  flex: 1 0 50%;
  order: 2;
  text-align: center;
}
.home-section .container .details h1 {
  max-width: 550px;
}
.home-section .container .img-box {
  margin: 2rem 0;
  flex: 1 0 40%;
  order: 1;
}
.home-section .container .img-box img {
  max-width: 100%;
}

.about .container {
  max-width: 90%;
  margin: 0 auto;
}
.about .container .row-sections {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.about .container .row-sections .first-row {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.about .container .row-sections .first-row .box {
  margin: 2rem 0;
  flex: 1 0 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}
.about .container .row-sections .first-row .box h1 {
  font-size: 1.2rem;
}
.about .container .row-sections .first-row .box p {
  font-size: 1rem;
  margin-top: -1rem;
}
.about .container .row-sections .second-row {
  margin-top: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.about .container .row-sections .second-row .img {
  margin: 2rem 0;
  order: 1;
  flex: 1 0 50%;
}
.about .container .row-sections .second-row .img img {
  max-width: 100%;
}
.about .container .row-sections .second-row .details {
  flex: 1 0 40%;
  order: 2;
  text-align: left;
}
.about .container .row-sections .second-row .details h1 {
  font-size: 1.3rem;
}
.about .container .row-sections .second-row .details a {
  color: #65e2d9;
  padding-bottom: 0.4rem;
  border-bottom: 2px solid #65e2d9;
  text-decoration: none;
  position: relative;
  padding-right: 1.6rem;
  cursor: pointer;
}
.about .container .row-sections .second-row .details a:hover {
  color: #dad8d8;
  border-color: #dad8d8;
}
.about .container .row-sections .second-row .details a::after {
  content: "";
  position: absolute;
  bottom: 2px;
  right: 0;
  width: 20px;
  height: 20px;
  background-image: url("../images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.about .container .row-sections .third-row {
  margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.about .container .row-sections .third-row .box {
  flex: 1 0 100%;
  background-color: #202a3c;
  margin: 1rem 0;
  padding: 2rem 1rem 2rem 1.5rem;
  max-width: 400px;
  box-shadow: 1px 1px 8px 0px #181f2a;
  border-radius: 4px;
}
.about .container .row-sections .third-row .box:nth-child(1) {
  position: relative;
}
.about .container .row-sections .third-row .box:nth-child(1)::before {
  content: "";
  position: absolute;
  top: -2rem;
  left: 0.7rem;
  width: 40px;
  height: 30px;
  background-image: url("../images/bg-quotes.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about .container .row-sections .third-row .box p {
  font-size: 1rem;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 0;
}
.about .container .row-sections .third-row .box .user-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-start;
  margin-top: 1.5rem;
}
.about .container .row-sections .third-row .box .user-box .img-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
}
.about .container .row-sections .third-row .box .user-box .img-box img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.about .container .row-sections .third-row .box .user-box .details h1 {
  margin: 0;
  font-size: 1.1rem;
  letter-spacing: 1px;
}
.about .container .row-sections .third-row .box .user-box .details span {
  color: #dad8d8;
  font-size: 0.8rem;
}

footer {
  background-color: #0b1523;
  position: relative;
  bottom: -2rem;
  left: 0;
  right: 0;
  margin-top: 20rem;
}
footer .access {
  border-radius: 6px;
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: -15rem;
  left: 0;
  right: 0;
  background-color: #1c2431;
  text-align: center;
  max-width: 750px;
  margin: 1rem 1rem 4rem;
  padding: 2rem 1.5rem;
}
footer .access h1 {
  margin-top: 0;
  font-size: 1.2rem;
}
footer .access p {
  max-width: 100%;
  font-size: 1rem;
}
footer .access .row-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
footer .access .row-input input {
  flex: 1 1 100%;
  display: block;
  width: 100%;
  padding: 1rem;
  border-radius: 25px;
  border: none;
  outline: none;
}
footer .access .row-input .input {
  padding: 1rem;
}
footer .access .row-input .btn {
  padding: 1rem 5rem;
  border-radius: 25px;
  border: none;
  outline: none;
  background-color: #339ecc;
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  box-shadow: 1px 1px 8px 0px #181f2a;
  transition: 0.3s ease;
  margin-bottom: 0;
  margin-top: 1rem;
  padding: 1rem;
}
footer .access .row-input .btn:hover {
  background-color: #65e2d9;
}
footer .access .validation {
  margin-top: 2rem;
  text-align: left;
  margin-left: 4rem;
  color: #ff4242;
  font-size: 1rem;
}
footer .container {
  max-width: 90%;
  margin: 0 auto;
  width: 80%;
  padding: 15rem 0 5rem 0;
}
footer .container .columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  grid-gap: 1rem;
}
footer .container .columns .box p {
  margin: 0;
}
footer .container .columns .box ul li {
  margin: 0;
}
footer .container .columns .box1 .logo {
  margin-bottom: 2rem;
}
footer .container .columns .box1 p {
  font-size: 1.2rem;
  text-align: left;
  color: #dad8d8;
}
footer .container .columns .box2 p {
  margin: 0.7rem 0;
  text-align: left;
  color: #dad8d8;
}
footer .container .columns .box3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
footer .container .columns .box3 .ul {
  margin: 1.2rem 0;
}
footer .container .columns .box3 .ul li {
  margin: 1rem 0;
}
footer .container .columns .box3 .ul li a {
  font-size: 1.1rem;
}
footer p {
  font-size: 1.2rem;
  max-width: 100%;
  display: block;
  margin: 0 1rem;
  text-align: center;
  color: white;
}
footer p a {
  color: #339ecc;
}
footer p a:hover {
  color: #65e2d9;
}

@media screen and (min-width: 49em) {
  .container {
    width: 90%;
  }

  header .container .logo {
    width: 100px;
  }
  header .container .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .container .nav-links li a {
    font-size: 1.1rem;
  }

  .home-section {
    margin-bottom: 3rem;
  }
  .home-section .container .details p {
    max-width: 500px;
    font-size: 1.1rem;
  }
  .home-section .container .details h1 {
    line-height: 35px;
  }

  .about .container .row-sections .first-row {
    margin-top: 5rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .about .container .row-sections .first-row .box {
    flex: 1 0 50%;
    max-width: 50%;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    margin: 1.4rem 0;
  }
  .about .container .row-sections .first-row .box h1 {
    font-size: 1.5rem;
  }
  .about .container .row-sections .first-row .box p {
    font-size: 1.1rem;
    max-width: 80%;
  }
  .about .container .row-sections .second-row {
    flex-direction: row;
    max-width: 100%;
    max-width: 90%;
    margin: 0 auto;
  }
  .about .container .row-sections .second-row .img {
    margin-right: 2rem;
    flex: 1 0 45%;
  }
  .about .container .row-sections .second-row .img img {
    max-width: 100%;
  }
  .about .container .row-sections .second-row .details {
    flex: 1 0 50%;
    text-align: left;
    max-width: 100%;
  }
  .about .container .row-sections .second-row .details h1 {
    font-size: 2.5rem;
    line-height: 3.3rem;
    max-width: 100%;
  }
  .about .container .row-sections .second-row .details p {
    max-width: 100%;
    margin: 0.8rem 0;
  }
  .about .container .row-sections .third-row {
    margin-top: 6rem;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .about .container .row-sections .third-row .box {
    flex: 1 0 300px;
    max-width: 400px;
  }
  .about .container .row-sections .third-row .box:nth-child(2) {
    margin: 1rem 2rem;
  }
  .about .container .row-sections .third-row .box p {
    line-height: 25px;
  }

  footer .access {
    top: -8rem;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }
  footer .access h1 {
    margin-top: 0;
    font-size: 2rem;
  }
  footer .access p {
    max-width: 100%;
    font-size: 1.1rem;
  }
  footer .access .row-input {
    flex-direction: row;
    justify-content: center;
  }
  footer .access .row-input input {
    flex: 1 1 60%;
    max-width: 60%;
  }
  footer .access .row-input .input {
    font-size: 1.1rem;
    margin-right: 1.5rem;
    padding: 1rem;
  }
  footer .access .row-input .input::-moz-placeholder {
    font-size: 1.2rem;
  }
  footer .access .row-input .input:-ms-input-placeholder {
    font-size: 1.2rem;
  }
  footer .access .row-input .input::placeholder {
    font-size: 1.2rem;
  }
  footer .access .row-input .btn {
    padding: 1rem 5rem;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: #339ecc;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    box-shadow: 1px 1px 8px 0px #181f2a;
    transition: 0.3s ease;
    margin: 0;
    max-width: 25%;
    padding: 1rem;
    font: size 1.1rem;
  }
  footer .access .row-input .btn:hover {
    background-color: #65e2d9;
  }
  footer .container {
    width: 95%;
    padding: 17rem 0 5rem 0;
  }
  footer .container .columns {
    place-content: center;
    grid-gap: 0;
  }
  footer .container .columns .box2 {
    align-self: flex-start;
    margin-top: 1rem;
  }
  footer .container .columns .box2 p {
    text-align: center;
  }
  footer .container .columns .box3 {
    flex-direction: row;
    align-items: center;
  }
  footer .container .columns .box3 .ul1, footer .container .columns .box3 .ul2 {
    margin: 0;
  }
  footer .container .columns .box3 .ul2 li:last-child {
    margin-bottom: 3.5rem;
  }
  footer p {
    font-size: 1.2rem;
    max-width: 100%;
    display: block;
    margin: 0 1rem;
    text-align: center;
    color: white;
  }
  footer p a {
    color: #339ecc;
  }
  footer p a:hover {
    color: #65e2d9;
  }
}/*# sourceMappingURL=style.css.map */