$lightblue : hsl(176, 68%, 64%);
$deepblue:hsl(198, 60%, 50%);
$error:hsl(0, 100%, 63%);
$white:hsl(0, 0%, 100%);
$white2:hsl(0, 3%, 85%);
$sign-up-background: hsl(217, 28%, 15%);
$main-background: hsl(218, 28%, 13%);
$footer-background: hsl(216, 53%, 9%);
$estimonials-background: hsl(219, 30%, 18%);
$fontsmall:400;
$fontweight-l:700;

